@import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

$color-primary: #15DEA5;
$color-secondary: #EA526F;
$color-tertiary: #19647E;
$color-accent: #FFF;

$btn-mods: (
    pink: $color-secondary,
    blue: $color-tertiary
);

.btn {
  cursor: pointer;
  padding: 1.5rem 3rem;
  border-radius: 10rem;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  color: $color-accent;
  background: $color-primary;
  &--pink {
    background: map-get($map: $btn-mods, $key: pink);
  }
  &--blue {
    background: map-get($map: $btn-mods, $key: blue);
  }
}
