$color-primary: #15DEA5;
$color-secondary: #EA526F;

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');
html, body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.btn {
  padding: 1.5rem;
  background: $color-primary;
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;
  &--pink {
    background: $color-secondary;
  }
  &--outline {
    background: transparent;
    border: 2px solid $color-primary;
    color: $color-primary;
    &.btn--pink {
      border: 2px solid $color-secondary;
      color: $color-secondary;
    }
  }
}

