@import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');
html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #19647E;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

/* ¡¡¡Nest your :focus selector below!!!  */

.input {
  background-color: #19647E;
  outline: none;
  border: 1px solid #EA526F;
  font-size: 2rem;
  padding: 1rem;
  color: #EA526F;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-style: italic;

  &:focus {
      background-color: tomato;
  }
}