@import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

$color-primary: #15DEA5;
$color-secondary: #EA526F;

// Create a .heading-typography selector 
// and give it some typographic properties, 
// such as font-size, font-style, color, etc.
 // Use nesting and the ampersand to create 
// heading elements for the .form and .proj-prev blocks
// Use the @extend keyword  to extend the 
// new .form__heading and .proj-prev__heading elements 
// to .heading-typography.

.heading-typography {
    font-size: 20px;
    text-transform: uppercase;
    color: #FFF;
}

.form {
  background: $color-primary;
  width: 100%;
  padding: 1rem 2rem;

  &__heading {
      @extend .heading-typography;
  }
}

.proj-prev {
  background: $color-secondary;
  width: 100%;
  padding: 1rem 2rem;

  &__heading {
      @extend .heading-typography;
  }
}
