 // Variables 
 $colour-primary: #15DEA5;
 $colour-secondary: #001534;
 $colour-accent: #D6FFF5;
 $colour-white: #fff;
 $colour-invalid: #DB464B;
 
 $heading-shadow-size: .55rem;
 $layout-margin: 6rem;
 $grid-gutter: $layout-margin * .25;
 
 // Functions
  @function lightness-shift($colour) {
     @if (lightness($colour) < 25%){
         @return lighten($colour, 10%);
     }@else{
         @return darken($colour, 10%);
     }
 }
 
 // Mixins
 @mixin border($colour:$colour-primary) {
     border: .1rem solid $colour;
 }
 
 @mixin heading-shadow($colour:lightness-shift($colour-primary), $offset: $heading-shadow-size){
     text-shadow: $offset $offset $colour;
 }
 
 *,
 *::after,
 *::before {
     margin: 0;
     padding: 0;
     box-sizing: inherit;
 }
 
 html {
     // 10px div by def of 16px
     font-size: 62.5%;
 }
 
 body {
     box-sizing: border-box;
     background: $colour-secondary;
 }
 
 body {
     font-family: 'Roboto', sans-serif;
     color: $colour-primary;
     font-size: 2rem;
     font-weight: 100;
     line-height: 1.7;
 }
 
 h1 {
     font-family: 'Roboto', sans-serif;
     font-weight: 900;
     font-size: 5rem;
     font-style: italic;
 }
 
 textarea {
     font-family: 'Roboto', sans-serif;
     font-weight: 100;
     font-size: 2rem;
 }
 
 button {
     font-family: 'Roboto', sans-serif;
     font-weight: 900;
     font-style: italic;
     font-size: 2.75rem;
 }
 
 .container {
     margin: $layout-margin;
     padding: $grid-gutter $grid-gutter 0 $grid-gutter;
     @include border($colour-accent);
 }
 
 .form {
     width: 100%;
     padding-bottom: $grid-gutter;
     &__heading {
         width: 100%;
         color: $colour-white;
         @include heading-shadow;
         background: $colour-primary;
         line-height: 5rem;
         padding: $grid-gutter;
     }
     &__field {
         label {
             color: $colour-accent;
             display: block;
             font-size: 2rem;
             line-height: 2rem;
             padding-top: $grid-gutter;
         }
         input {
             width: 100%;
             background: $colour-secondary;
             @include border;
             padding: $grid-gutter;
             color: $colour-accent;
             font-weight: 900;
             font-style: italic;
             font-size: 2.75rem;
           &:focus {
             background: $colour-primary;
             color: $colour-white;
           }
 
         }
         textarea {
             width: 100%;
             color: $colour-primary;
             background: $colour-secondary;
             @include border;
             outline: none;
             padding: $grid-gutter;
             margin-bottom: $grid-gutter;
             &:active, &:focus {
                 color: $colour-accent;
             }
         }
     }
 
 }
 
 .header {
     background: $colour-primary;
     height: 10rem;
     display: flex;
     align-items: center;
     flex-wrap: wrap;
     width: 100%;   
     &__logo {
         font-size: 7rem;
         color: $colour-secondary;
         margin-left: 10rem;
         @include heading-shadow($colour-white);
     }
 }
 
 .nav {
     padding-right: $layout-margin;
     flex: 2 1 auto;
     text-align: right;
     &__link {
         display: inline;
         font-size: 3rem;
         padding-left: 1.5rem;
         & a{
         text-decoration: none;
         color: $colour-accent;
         }
         &--active {
             color: $colour-secondary;
             &:hover{
                 cursor:default;
                 color: $colour-secondary;
             }
         }
         & a:hover{
             color: $colour-white;
       }
   }
 }
 