.nav {
    padding-right: $layout-margin;
    flex: 2 1 auto;
    text-align: right;
    &__link {
        display: inline;
        font-size: 3rem;
        padding-left: 1.5rem;
        & a{
        text-decoration: none;
        color: $colour-accent;
        }
        &--active {
            color: $colour-secondary;
            &:hover{
                cursor:default;
                color: $colour-secondary;
            }
        }
        & a:hover{
            color: $colour-white;
      }
  }
}
