@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,900i");
html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0; }

* {
  box-sizing: border-box; }

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap; }

/* ¡¡¡Nest with combinators below!!!  */
.root {
  font-size: 1.5rem;
  padding: 2rem;
  background-color: #15DEA5;
  color: #fff;
  text-align: center;
  border-radius: 2rem; }
  .root ~ .general {
    background-color: turquoise; }
  .root + .adjacent {
    background-color: tan; }
  .root > .child {
    background-color: tomato; }
  .root .descendant {
    background-color: lightblue; }
