// Variables 
$colour-primary: #15DEA5;
$colour-secondary: #001534;
$colour-accent: #D6FFF5;
$colour-white: #fff;
$colour-invalid: #DB464B;

$heading-shadow-size: .55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * .25;